body {
  font-family: Arial, sans-serif;
  width: 400px;
  background-color: #121212;
  color: #FFFFFF;
}

button {
  border-radius: 8px;
  background-color: #1E88E5;
  border-color: #424242;
  color: #FFFFFF;
  font-size: 24px;
  padding: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #42A5F5;
  border-color: #424242;
}

.hidden {
  display: none;
}
.visible {
  display: block;
}
input, textarea {
  margin-bottom: 10px;
  width: 100%;
}
button {
  width: 100%;
  margin-bottom: 10px;
}
.headerPair {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.headerKey, .headerValue {
  flex: 1;
  margin-right: 5px;
  width: calc(50% - 10px);
}
.removeHeader {
  background-color: red;
  color: white;
  border: none;
  padding: 2px 5px;
  cursor: pointer;
  flex-shrink: 0;
  width: auto;
  margin-left: 5px;
}
.settings-container {
  padding-bottom: 20px;
}
.save-button {
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
}

#addHeader,#maxComments {
  margin-bottom: 64px;
}

textarea {
  height: 100px;
}

h4 {
  margin-bottom: 4px;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: #121212;
  color: #FFFFFF;
}

.modal button {
  font-size: 12px;
  background-color: #43A047;
}

.modal button:hover {
  background-color: #66BB6A;
}

.debug {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.debug button {
  font-size: 12px;
  background-color: #1E88E5;
}

.debug button:hover {
  background-color: #42A5F5;
}

.modal-content {
  margin: 40px;
  padding: 20px;
  border: 1px solid #888;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}
td {
  padding: 8px;
  border: 1px solid #ddd;
  white-space: nowrap;
}
.button-cell {
  text-align: right;
  width: 150px;
}
.state-cell {
  width: 75px;
}

#refresh-button-cell {
  padding-top: 16px;
  vertical-align: middle;
  text-align: center;
}

#rescan,.save-button {
  background-color: #43A047;
  cursor: pointer;
}

#rescan:hover,.save-button:hover {
  background-color: #66BB6A;
}

#clear-storage-openai,#clear-storage-ollama {
  background-color: #FDD835;
  color: #000000;
}

#clear-storage-openai:hover,#clear-storage-ollama:hover {
  background-color: #FFEE58;
}
